USE [master]
GO
/****** Object:  Database [FOPEC]    Script Date: 4/30/2025 3:11:19 AM ******/
CREATE DATABASE [FOPEC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FOPEC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FOPEC.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FOPEC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FOPEC_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FOPEC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FOPEC]
GO
/****** Object:  UserDefinedFunction [dbo].[fnCountFunctions]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[fnCountFunctions]
(
)
returns int
as
begin
    return (
			select count(*) as function_count
			from sys.objects
			where type in ('FN', 'IF', 'TF')
			and is_ms_shipped = 0
			and name  != 'fn_diagramobjects'
		)
end
GO
/****** Object:  UserDefinedFunction [dbo].[fnCountProcedures]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[fnCountProcedures]
(
)
returns varchar(100)
as
begin
    return (select count(*) from sys.procedures where is_ms_shipped = 0 and name not like 'sp%')
end
GO
/****** Object:  UserDefinedFunction [dbo].[fnCountTriggers]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[fnCountTriggers]
(
)
returns varchar(100)
as
begin
    return (select count(*) from sys.triggers )
end
GO
/****** Object:  UserDefinedFunction [dbo].[fnCountUserTables]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[fnCountUserTables]
(
)
returns varchar(100)
as
begin
    return (
		select count(*) 
		from sys.tables 
		where is_ms_shipped = 0
			and name not like 'sys%'
		)
end
GO
/****** Object:  UserDefinedFunction [dbo].[fnCountViews]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[fnCountViews]
(
)
returns varchar(100)
as
begin
    return (
		select count(*) 
		from sys.views 
		where is_ms_shipped = 0
		)
end
GO
/****** Object:  UserDefinedFunction [dbo].[fnFunctions]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[fnFunctions]
(
)
returns int
as
begin
    return (
			select count(*) as function_count
			from sys.objects
			where type in ('FN', 'IF', 'TF')
			and is_ms_shipped = 0
		)
end
GO
/****** Object:  Table [dbo].[person]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[person](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](255) NOT NULL,
	[middle_name] [varchar](255) NOT NULL,
	[last_name] [varchar](255) NOT NULL,
	[username] [varchar](255) NOT NULL,
	[password] [varbinary](max) NOT NULL,
	[created] [datetime] NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_person] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fnFormatPerson]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[fnFormatPerson]
(
    @name_display_type int
)
returns table
as
return
(
   select id, 
   display_name = case @name_display_type 
	when 1 then last_name + ', ' + first_name + ' ' + left(middle_name, 1)
	when 2 then first_name + ' ' + middle_name + ' ' + last_name
	when 3 then username + ' (' + last_name + ', ' + first_name + ' ' + left(middle_name, 1) +  ')'
	when 4 then username + ' (' + first_name + ' ' + middle_name + ' ' + left(last_name, 1) + ')'
	else 'invalid format'
	end
from person 
)
GO
/****** Object:  Table [dbo].[company]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[created] [datetime] NOT NULL,
	[last_updated] [datetime] NOT NULL,
	[person_id_created] [int] NOT NULL,
 CONSTRAINT [PK_company] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[crowdsourced_research]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[crowdsourced_research](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[ownership_type_id] [int] NOT NULL,
	[observing_person_id] [int] NOT NULL,
	[created] [datetime] NOT NULL,
	[notes] [varchar](max) NULL,
	[parent_company_id] [int] NULL,
 CONSTRAINT [PK_crowdsourced_research] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[crowdsourced_research_vote]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[crowdsourced_research_vote](
	[crowdsourced_research_id] [int] NOT NULL,
	[person_id] [int] NOT NULL,
	[created] [datetime] NULL,
	[vote_type] [varchar](100) NOT NULL,
	[updated] [datetime] NOT NULL,
 CONSTRAINT [PK_crowdsourced_research_vote] PRIMARY KEY CLUSTERED 
(
	[crowdsourced_research_id] ASC,
	[person_id] ASC,
	[vote_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vVotes]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vVotes]

as 
 
	select		voter.id voter_id,
				voter.username voter_username,
				observer.id observer_id,
				observer.username observer_username,
				crv.vote_type,
				crv.created vote_created, 
				crv.updated vote_updated,
				c.id  company_name,
				c.[name] comany_name,
				parent.id parent_id,
				parent.name parent_name,
				cr.notes
				

	from		person voter
		join	crowdsourced_research_vote  crv on voter.id = crv.person_id
		join	crowdsourced_research cr on crv.crowdsourced_research_id = cr.id
		join	company c on cr.company_id = c.id
		join	company parent on cr.parent_company_id = parent.id
		join	person observer on cr.observing_person_id = observer.id
GO
/****** Object:  Table [dbo].[person_audit]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[person_audit](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[person_id] [int] NOT NULL,
	[first_name] [varchar](255) NOT NULL,
	[middle_name] [varchar](255) NOT NULL,
	[last_name] [varchar](255) NOT NULL,
	[username] [varchar](255) NOT NULL,
	[password] [varbinary](max) NOT NULL,
	[audit_datetime] [datetime] NOT NULL,
	[is_active] [bit] NULL,
 CONSTRAINT [PK_person_audit] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vPersonAudit]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create view [dbo].[vPersonAudit]
as 
   

	select  t.id
		,	t.first_name
		,	t.last_name
		,	t.middle_name
		,	t.username 
		,	t.created_date
		,	t.updated_date
		,	t.is_active
		,	t.record_type
		,	idx = row_number()over(partition by t.id order by record_type desc, updated_date desc)
	from (
			select p.id
				,	p.first_name
				,	p.last_name
				,	p.middle_name
				,	p.username 
				,	p.created created_date
				,	null  updated_date
				,	p.is_active
				,	'person' record_type
			from person p
			union 

			select  pa.person_id
				,	pa.first_name
				,	pa.last_name
				,	pa.middle_name
				,	pa.username
				,	null 
				,	pa.audit_datetime
				,	pa.is_active
				,	'audit' record_type
			from person_audit pa
	) t 

 
GO
/****** Object:  View [dbo].[vCountDatabaseObjects]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[vCountDatabaseObjects]
as

	select	dbo.fnCountUserTables() table_count,	
			dbo.fnCountViews() view_count, 
			dbo.fnCountProcedures() procedure_count,
			dbo.fnCountFunctions() function_count,
			dbo.fnCountTriggers() trigger_count
		;

GO
/****** Object:  Table [dbo].[address]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[address](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[line1] [varchar](255) NOT NULL,
	[line2] [varchar](255) NULL,
	[city] [varchar](255) NOT NULL,
	[state] [varchar](255) NOT NULL,
	[zip] [varchar](255) NOT NULL,
 CONSTRAINT [PK_address] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[business_focus]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[business_focus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](255) NOT NULL,
 CONSTRAINT [PK_business_focus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[company_business_focus]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company_business_focus](
	[business_focus_id] [int] NOT NULL,
	[company_id] [int] NOT NULL,
 CONSTRAINT [PK_company_business_focus] PRIMARY KEY CLUSTERED 
(
	[business_focus_id] ASC,
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[company_location]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company_location](
	[company_id] [int] NOT NULL,
	[address_id] [int] NOT NULL,
	[isHQ] [bit] NOT NULL,
 CONSTRAINT [PK_company_location] PRIMARY KEY CLUSTERED 
(
	[company_id] ASC,
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ownership_type]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ownership_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](255) NOT NULL,
 CONSTRAINT [PK_ownership_type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[person_login]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[person_login](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[person_id] [int] NOT NULL,
	[login_datetime] [datetime] NOT NULL,
	[last_seen_datetme] [datetime] NOT NULL,
	[user_agent_maybe] [varchar](max) NOT NULL,
 CONSTRAINT [PK_person_login] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UI_business_focus_description]    Script Date: 4/30/2025 3:11:20 AM ******/
CREATE NONCLUSTERED INDEX [UI_business_focus_description] ON [dbo].[business_focus]
(
	[description] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_company]    Script Date: 4/30/2025 3:11:20 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_company] ON [dbo].[company]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UNI_ownership_type]    Script Date: 4/30/2025 3:11:20 AM ******/
CREATE NONCLUSTERED INDEX [UNI_ownership_type] ON [dbo].[ownership_type]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[crowdsourced_research_vote] ADD  CONSTRAINT [DF_crowdsourced_research_vote_created]  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[crowdsourced_research_vote] ADD  CONSTRAINT [DF_crowdsourced_research_vote_updated]  DEFAULT (getdate()) FOR [updated]
GO
ALTER TABLE [dbo].[person] ADD  CONSTRAINT [DF_person_isActive]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[company]  WITH CHECK ADD  CONSTRAINT [FK_company_person] FOREIGN KEY([person_id_created])
REFERENCES [dbo].[person] ([id])
GO
ALTER TABLE [dbo].[company] CHECK CONSTRAINT [FK_company_person]
GO
ALTER TABLE [dbo].[company_business_focus]  WITH CHECK ADD  CONSTRAINT [FK_company_business_focus_business_focus] FOREIGN KEY([business_focus_id])
REFERENCES [dbo].[business_focus] ([id])
GO
ALTER TABLE [dbo].[company_business_focus] CHECK CONSTRAINT [FK_company_business_focus_business_focus]
GO
ALTER TABLE [dbo].[company_business_focus]  WITH CHECK ADD  CONSTRAINT [FK_company_business_focus_company] FOREIGN KEY([company_id])
REFERENCES [dbo].[company] ([id])
GO
ALTER TABLE [dbo].[company_business_focus] CHECK CONSTRAINT [FK_company_business_focus_company]
GO
ALTER TABLE [dbo].[company_location]  WITH CHECK ADD  CONSTRAINT [FK_company_location_address] FOREIGN KEY([address_id])
REFERENCES [dbo].[address] ([id])
GO
ALTER TABLE [dbo].[company_location] CHECK CONSTRAINT [FK_company_location_address]
GO
ALTER TABLE [dbo].[company_location]  WITH CHECK ADD  CONSTRAINT [FK_company_location_company] FOREIGN KEY([company_id])
REFERENCES [dbo].[company] ([id])
GO
ALTER TABLE [dbo].[company_location] CHECK CONSTRAINT [FK_company_location_company]
GO
ALTER TABLE [dbo].[crowdsourced_research]  WITH CHECK ADD  CONSTRAINT [FK_crowdsourced_research_company] FOREIGN KEY([company_id])
REFERENCES [dbo].[company] ([id])
GO
ALTER TABLE [dbo].[crowdsourced_research] CHECK CONSTRAINT [FK_crowdsourced_research_company]
GO
ALTER TABLE [dbo].[crowdsourced_research]  WITH CHECK ADD  CONSTRAINT [FK_crowdsourced_research_company1] FOREIGN KEY([parent_company_id])
REFERENCES [dbo].[company] ([id])
GO
ALTER TABLE [dbo].[crowdsourced_research] CHECK CONSTRAINT [FK_crowdsourced_research_company1]
GO
ALTER TABLE [dbo].[crowdsourced_research]  WITH CHECK ADD  CONSTRAINT [FK_crowdsourced_research_ownership_type] FOREIGN KEY([ownership_type_id])
REFERENCES [dbo].[ownership_type] ([id])
GO
ALTER TABLE [dbo].[crowdsourced_research] CHECK CONSTRAINT [FK_crowdsourced_research_ownership_type]
GO
ALTER TABLE [dbo].[crowdsourced_research]  WITH CHECK ADD  CONSTRAINT [FK_crowdsourced_research_person] FOREIGN KEY([observing_person_id])
REFERENCES [dbo].[person] ([id])
GO
ALTER TABLE [dbo].[crowdsourced_research] CHECK CONSTRAINT [FK_crowdsourced_research_person]
GO
ALTER TABLE [dbo].[crowdsourced_research_vote]  WITH CHECK ADD  CONSTRAINT [FK_crowdsourced_research_vote_crowdsourced_research] FOREIGN KEY([crowdsourced_research_id])
REFERENCES [dbo].[crowdsourced_research] ([id])
GO
ALTER TABLE [dbo].[crowdsourced_research_vote] CHECK CONSTRAINT [FK_crowdsourced_research_vote_crowdsourced_research]
GO
ALTER TABLE [dbo].[crowdsourced_research_vote]  WITH CHECK ADD  CONSTRAINT [FK_crowdsourced_research_vote_person] FOREIGN KEY([person_id])
REFERENCES [dbo].[person] ([id])
GO
ALTER TABLE [dbo].[crowdsourced_research_vote] CHECK CONSTRAINT [FK_crowdsourced_research_vote_person]
GO
ALTER TABLE [dbo].[person_audit]  WITH CHECK ADD  CONSTRAINT [FK_person_audit_person] FOREIGN KEY([person_id])
REFERENCES [dbo].[person] ([id])
GO
ALTER TABLE [dbo].[person_audit] CHECK CONSTRAINT [FK_person_audit_person]
GO
ALTER TABLE [dbo].[person_login]  WITH CHECK ADD  CONSTRAINT [FK_person_login_person] FOREIGN KEY([person_id])
REFERENCES [dbo].[person] ([id])
GO
ALTER TABLE [dbo].[person_login] CHECK CONSTRAINT [FK_person_login_person]
GO
ALTER TABLE [dbo].[crowdsourced_research_vote]  WITH CHECK ADD  CONSTRAINT [chk_vote_type] CHECK  (([vote_type]='down' OR [vote_type]='up'))
GO
ALTER TABLE [dbo].[crowdsourced_research_vote] CHECK CONSTRAINT [chk_vote_type]
GO
/****** Object:  StoredProcedure [dbo].[delAddress]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[delAddress]
	@id int
as 
	set nocount on;

	if exists(select * from company_location where address_id = @id)
	begin 
		return 1;
	end

	delete from address where id = @id;

	return 0;

GO
/****** Object:  StoredProcedure [dbo].[delBusinessFocus]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[delBusinessFocus]
	@id varchar(255)
as 
	set nocount on;

	if exists(select * from company_business_focus where business_focus_id = @id)
	begin 
		return -1;
	end
	delete from business_focus where id = @id;
	return 0;

GO
/****** Object:  StoredProcedure [dbo].[delCompany]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[delCompany] 
	@id int
as
begin
	set nocount on;

	if exists(
		select company_id 
		from company_location 
		where company_id = @id 
			union
		select company_id 
		from crowdsourced_research 
		where company_id = @id 
			or parent_company_id = @id
		)
		begin 
			return -1;
		end 

 
	delete company where id = @id ;
	return 0;
end 
GO
/****** Object:  StoredProcedure [dbo].[delCompanyBusinessFocus]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[delCompanyBusinessFocus]
	@business_focus_id int,
	@company_Id int
as 
	set nocount on;

	delete 
	from company_business_focus	
	where business_focus_id = @business_focus_id
		and company_id = @company_id
	;

	return 0;

GO
/****** Object:  StoredProcedure [dbo].[delCompanyLocation]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[delCompanyLocation]
	@company_id int,
	@address_id int

as 
	set nocount on;

	delete 
	from company_location
	where	company_id = @company_id
		and	address_id = @address_id;
	return 0;
GO
/****** Object:  StoredProcedure [dbo].[delCrowdsourcedResearch]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[delCrowdsourcedResearch] 
		@crowdsourced_research_id int
as
begin
	set nocount on;
	delete from crowdsourced_research where id = @crowdsourced_research_id;
end 
GO
/****** Object:  StoredProcedure [dbo].[delOwnershipType]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[delOwnershipType] 
	@id int
as
begin
	set nocount on;
	
	if exists(select * from crowdsourced_research where ownership_type_id = @id ) 
	begin 
		return -1;
	end 

	delete 
	from  ownership_type
	where id = @id;

	return 0
end 
GO
/****** Object:  StoredProcedure [dbo].[delPerson]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[delPerson]
		@person_id int
as 
	delete 
	from person 
	where id = @person_id 
	;
	return 0;
GO
/****** Object:  StoredProcedure [dbo].[delVote]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[delVote]
	@crowdsourced_research_id int,
	@person_id int
as 
	set nocount on;
	delete 
	from crowdsourced_research_vote
	where 
			crowdsourced_research_id = @crowdsourced_research_id
		and person_id = @person_id;

	return 0;
		
GO
/****** Object:  StoredProcedure [dbo].[delVoteType]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[delVoteType]
		@vote_type varchar(100)
as 

	if exists (select * from vote_type where vote_type = @vote_type)
	begin 
		return -1;
	end
	
	insert into vote_type(vote_type)
	values(@vote_type)
	;
	return 0;
GO
/****** Object:  StoredProcedure [dbo].[getAddresses]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[getAddresses]

as 
	set nocount on;

	select	id,
			line1,
			line2,
			city,
			state, 
			zip
	from address

GO
/****** Object:  StoredProcedure [dbo].[getAddressesByCompanyId]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[getAddressesByCompanyId]
	@companyId int
as
begin
	set nocount on;
	select	a.id
		,	a.line1
		,	a.line2
		,	a.city
		,	a.state
		,	a.zip
		,	cl.isHQ
	from address a
		join company_location cl on a.id = cl.address_id
	where cl.company_id = @companyId 
				
	;
end 
GO
/****** Object:  StoredProcedure [dbo].[getBusinessFocuses]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[getBusinessFocuses] 
as
begin
	
	select	bf.id,
			bf.[description]
	from business_focus bf
	;
 
	
end
GO
/****** Object:  StoredProcedure [dbo].[getBusinessFocusesByCompanyId]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[getBusinessFocusesByCompanyId] 
	@company_id int
as
begin
	
	select	bf.id,
			bf.[description]
	from business_focus bf
		join company_business_focus cbf on bf.id = cbf.business_focus_id
	where cbf.company_id = @company_id
 
	
end
GO
/****** Object:  StoredProcedure [dbo].[getCompanies]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[getCompanies] 

as
begin
	set nocount on;
	select	id
		,	name
		,	created
		,	last_updated
		,	person_id_created
	from company;
end 
GO
/****** Object:  StoredProcedure [dbo].[getCompaniesByPersonCreatedID]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[getCompaniesByPersonCreatedID]
	@person_id_created int
as
begin
	set nocount on;
	select	id
		,	name
		,	created
		,	last_updated
		,	person_id_created
	from company
	where person_id_created = @person_id_created;
	;
end 
GO
/****** Object:  StoredProcedure [dbo].[getCompaniesByPersonID]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[getCompaniesByPersonID]
	@person_id_created int
as
begin
	set nocount on;
	select	id
		,	name
		,	created
		,	last_updated
		,	person_id_created
	from company
	where person_id_created = @person_id_created;
	;
end 
GO
/****** Object:  StoredProcedure [dbo].[getCrowdsourcedResearch]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[getCrowdsourcedResearch]

as
select	cr.id crowdsourced_id
	,	c.id as company_id
	,	c.name as company_name
	,	cr.parent_company_id
	,	pc.name parent_company_name
	,	ot.id as ownership_type_id
	,	ot.description as ownership_type_description
	,	p.username
	,	cr.created
	,	cr.notes	
from crowdsourced_research cr 
	join company c on cr.company_id = c.id
	join ownership_type ot on cr.ownership_type_id = ot.id
	join person p on cr.observing_person_id = p.id
	left join company pc on cr.parent_company_id = pc.id
	order by cr.created desc
GO
/****** Object:  StoredProcedure [dbo].[getCrowdsourcedResearchByPersonId]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[getCrowdsourcedResearchByPersonId]
	@person_id int
as
select	cr.id crowdsourced_id
	,	c.id as company_id
	,	c.name as company_name
	,	cr.parent_company_id
	,	pc.name parent_company_name
	,	ot.id as ownership_type_id
	,	ot.description as ownership_type_description
	,	p.username
	,	cr.created
	,	cr.notes	
from crowdsourced_research cr 
	join company c on cr.company_id = c.id
	join ownership_type ot on cr.ownership_type_id = ot.id
	join person p on cr.observing_person_id = p.id
	left join company pc on cr.parent_company_id = pc.id
where p.id = @person_id
order by cr.created desc
;
GO
/****** Object:  StoredProcedure [dbo].[getDatabaseObjectCounts]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[getDatabaseObjectCounts]
as 
	set nocount on;
	select  table_count,	
			view_count, 
			procedure_count,
			function_count,
			trigger_count
	from vCountDatabaseObjects
GO
/****** Object:  StoredProcedure [dbo].[getOwnershipType]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[getOwnershipType] 
as
begin
	set nocount on;
	select id, description from ownership_type;
end 
GO
/****** Object:  StoredProcedure [dbo].[getOwnershipTypes]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[getOwnershipTypes] 
as
begin
	set nocount on;
	select id, description from ownership_type;
end 
GO
/****** Object:  StoredProcedure [dbo].[getPerson]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[getPerson]
		@id int
as 
	set nocount on;
 	select	p.id,
			p.first_name,
			p.last_name,
			p.middle_name,
			p.username,
			p.is_active
	from person p
	where id = @id 
	return 0
GO
/****** Object:  StoredProcedure [dbo].[getPersonActivity]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[getPersonActivity]
	@name_display_type tinyint = 1
as 
	set nocount on;
	-- had to do this in a funky way
	-- the combination of formatting an entire table via a table function
	-- and with using count distincts caused issues in performance.
	-- this approach isolates these operations.
	select t.id,
		dta.is_active,
		t.display_name,
		dta.audit_records,
		dta.company_records,
		dta.crowdsourced_research_records,
		dta.vote_records
	from  dbo.fnFormatPerson(@name_display_type) t
	join 	(
		select p.id,
				p.is_active,
			   count(distinct pa.id) audit_records,
			   count(distinct c.id) company_records,
			   count( distinct cr.id) crowdsourced_research_records,
			   count(distinct v.crowdsourced_research_id) vote_records
		from person p	
			left join person_audit pa on p.id = pa.person_id
			left join company c on p.id = c.person_id_created
			left join crowdsourced_research cr on p.id = cr.observing_person_id
			left join crowdsourced_research_vote v on p.id = v.person_id
		group by p.id, p.is_active
	) dta on t.id = dta.id
GO
/****** Object:  StoredProcedure [dbo].[getPersonPasswordById]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[getPersonPasswordById]
		@id int
as 
	set nocount on;
 	select	p.password
	from person p
	where id = @id 
	return 0
GO
/****** Object:  StoredProcedure [dbo].[getPersons]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[getPersons]
as 
	
	select 
		id,
		first_name,
		last_name,
		middle_name,
		username,
		password,
		created,
		is_active
	from person
GO
/****** Object:  StoredProcedure [dbo].[getVotes]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[getVotes]
	@observer_person_id int 
as 
	set nocount on;
		
select	c.name company_name
	,	ot.description ownership_type_description
	,	parent_company.name parent_company_name
	,   cr.id
	,	cr.notes
	,	p.username observer
	,	p.id observer_id
	,	sum(case when crv.vote_type = 'up' then 1 else 0 end) up_count
	,	sum(case when crv.vote_type = 'down' then 1 else 0 end) down_count

from company c
	join crowdsourced_research cr on c.id = cr.company_id
	join ownership_type ot on cr.ownership_type_id = ot.id
	left join company parent_company on cr.parent_company_id = parent_company.id
	join person p on cr.observing_person_id = p.id
	left join crowdsourced_research_vote crv on cr.id = crv.crowdsourced_research_id
where cr.observing_person_id != @observer_person_id -- person logged in can't vote on own submission
group by 
		c.name  
	,	ot.description 
	,	parent_company.name  
	,   cr.id
	,	cr.notes
	,	p.username 
	,	p.id
GO
/****** Object:  StoredProcedure [dbo].[getVoteTypes]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[getVoteTypes]

as 
	set nocount on;
	select vote_type
	from vote_type
	
	;
		
GO
/****** Object:  StoredProcedure [dbo].[insAddress]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[insAddress]
	@line1 varchar(255),
	@line2 varchar(255),
	@city varchar(255 ),
	@state varchar(255),
	@zip varchar(255)
as 
	set nocount on;

	insert into address ( 
			line1,
			line2,
			city,
			state, 
			zip
	)
	values (		
			@line1,
			@line2,
			@city,
			@state, 
			@zip
		);

	return 0;

GO
/****** Object:  StoredProcedure [dbo].[insBusinessFocus]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[insBusinessFocus]
	@description varchar(255)
as 
	set nocount on;

	if exists(select * from business_focus where [description] = @description)
	begin 
		return -1;
	end
	insert into business_focus ( 
			[description]
	)
	values (		
			@description
	);
	return 0;

GO
/****** Object:  StoredProcedure [dbo].[insCompany]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[insCompany] 
			@name varchar(255),
			@person_id_created int
as
begin
	set nocount on;
	insert into company(
			[name],
			created,
			last_updated,
			person_id_created
		) 
	values (
			@name,
			getdate(),
			getdate(),
			@person_id_created
	)
	return 0
end 
GO
/****** Object:  StoredProcedure [dbo].[insCompanyBusinessFocus]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[insCompanyBusinessFocus]
	@business_focus_id int,
	@company_Id int
as 
	set nocount on;

	if exists(select * from company_business_focus where company_id = @company_id and business_focus_id = @business_focus_id)
	begin 
		return -1
	end

	insert into company_business_focus(
		company_id,
		business_focus_id
	)
	values 
	(
		@company_id,
		@business_focus_id
	)
	return 0;

GO
/****** Object:  StoredProcedure [dbo].[insCompanyLocation]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[insCompanyLocation]
	@company_id int,
	@address_id int,
	@isHQ bit
as 
	set nocount on;
	if exists(
		select * 
		from company_location
		where company_id = @company_id
			and address_id = @address_id 
	)
	begin
		return -1
	end
	   		
	insert into company_location(
		company_id,
		address_id,
		isHQ
	)
	values (
		@company_id,
		@address_id,
		@isHQ
		)

		return 0;
 

GO
/****** Object:  StoredProcedure [dbo].[insCrowdsourcedResearch]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[insCrowdsourcedResearch] 
		@company_id int
	,	@ownership_type_id int
	,	@observing_person_id int = null 
	,	@notes varchar(max)
	,	@parent_company_id int = null
as
begin
	set nocount on;

	insert into crowdsourced_research(
			company_id
		,	ownership_type_id
		,	observing_person_id
		,	created
		,	notes
		,	parent_company_id
	)
	values(
			@company_id
		,	@ownership_type_id
		,	@observing_person_id
		,	getdate()
		,	@notes
		,	@parent_company_id
	)
end 
GO
/****** Object:  StoredProcedure [dbo].[insOwnershipType]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[insOwnershipType] 
	@description varchar(255)
as
begin
	set nocount on;
	
	if exists(select * from ownership_type where [description] = @description)
	begin 
		return -1
	end 

	insert into ownership_type([description])
	values(@description);

	return 0
end 
GO
/****** Object:  StoredProcedure [dbo].[insPerson]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[insPerson]
		@first_name varchar(255),
		@last_name varchar(255), 
		@middle_name varchar(255), 
		@username varchar(255), 
		@password varbinary(max),
		@is_active bit = 1
as 
	if exists(select * from person where username = @username)
	begin 
		return -1
	end 

	insert into person(
		first_name,
		last_name,
		middle_name,
		username,
		password,
		created,
		is_active
	) 
	values (
		@first_name,
		@last_name,
		@middle_name,
		@username,
		@password,
		getdate(),
		@is_active
	) 
	return 0
GO
/****** Object:  StoredProcedure [dbo].[insVote]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[insVote]
	@crowdsourced_research_id int,
	@person_id int,
	@vote_type varchar(100)
as 
	set nocount on;
	if exists(
		select * 
		from	crowdsourced_research_vote
		where	crowdsourced_research_id = @crowdsourced_research_id
		and person_id = @person_id
		) 
	begin
		return -1
	end   
	
	insert into crowdsourced_research_vote
	(
		crowdsourced_research_id, 
		person_id, 
		vote_type,
		created,
		updated
	)
	values
	( 
		@crowdsourced_research_id, 
		@person_id, 
		@vote_type,
		getdate(),
		getdate()
	);

	return 0;
		
GO
/****** Object:  StoredProcedure [dbo].[loginPerson]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[loginPerson]
    @username varchar(255)
as
begin
    set nocount on;

    select
        p.id,
        p.first_name,
        p.last_name,
        p.middle_name,
        p.username,
        p.[password], 
        p.is_active
    from person p
    where p.username = @username
end
GO
/****** Object:  StoredProcedure [dbo].[updAddress]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[updAddress]
	@id int,
	@line1 varchar(255),
	@line2 varchar(255),
	@city varchar(255 ),
	@state varchar(255),
	@zip varchar(255)
as 
	set nocount on;

	update address 
	set     line1 = @line1,
			line2 = @line2,
			city = @city,
			state = @state, 
			zip = @zip
	where id = @id;
	return 0;
GO
/****** Object:  StoredProcedure [dbo].[updBusinessFocus]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[updBusinessFocus]
		@id int
	,	@description varchar(255)
as 
	set nocount on;

	if exists(select * from business_focus where [description] = @description)
	begin 
		return -1;
	end

	update business_focus
	set description = @description
	where id = @id;
	
	return 0;

GO
/****** Object:  StoredProcedure [dbo].[updCompany]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[updCompany] 
	@id int,
	@name varchar(255)
as
begin
	set nocount on;
	update company
	set name = @name
	where id = @id 

end 
GO
/****** Object:  StoredProcedure [dbo].[updCompanyLocation]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[updCompanyLocation]
	@company_id int,
	@address_id int,
	@isHQ bit

as 
	set nocount on;

	update company_location
	set isHQ = @isHQ
	where	company_id = @company_id
		and	address_id = @address_id;
	return 0;
GO
/****** Object:  StoredProcedure [dbo].[updCrowdsourcedResearch]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[updCrowdsourcedResearch] 
		@crowdsourced_research_id int
	,	@ownership_type_id int
	,	@notes varchar(max)
	,	@parent_company_id int 
as
begin
	set nocount on;
	update crowdsourced_research
	set ownership_type_id = @ownership_type_id
	,	notes = @notes 
	,	parent_company_id = @parent_company_id
	where id = @crowdsourced_research_id
end 
GO
/****** Object:  StoredProcedure [dbo].[updOwnershipType]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[updOwnershipType] 
	@description varchar(255), 
	@id int
as
begin
	set nocount on;
	
	if exists(select * from ownership_type where [description] = @description and id != @id)
	begin 
		return -1;
	end 

	update ownership_type
	set [description] = @description
	where id = @id;

	return 0
end 
GO
/****** Object:  StoredProcedure [dbo].[updPerson]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[updPerson]
		@id int,
		@first_name varchar(255),
		@last_name varchar(255), 
		@middle_name varchar(255), 
		@username varchar(255), 
		@password varbinary(max),
		@is_active bit = 1
as 
	if exists(
		select * 
		from person 
		where id != @id
			and username = @username
		)
	begin 
		return -1
	end 

	update person 
	set  first_name = @first_name,
		last_name = @last_name,
		middle_name = @middle_name,
		username = @username,
		[password] = @password,
		is_active = @is_active
	where id = @id 
	return 0
GO
/****** Object:  StoredProcedure [dbo].[updPersonActive]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[updPersonActive] 
	@id int,
	@is_active bit
as
	set nocount on;
	update person 
	set  is_active = @is_active
	where id = @id 
	return 0

GO
/****** Object:  StoredProcedure [dbo].[updPersonAudit]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [dbo].[updPersonAudit]
	@id int
as

	set nocount on;

	update	person_audit
	set		first_name = first_name + ' DELETED',
			middle_name = middle_name + ' DELETED',
			last_name = last_name + ' DELETED',
			username = username + ' DELETED',
			is_active = 0,
			person_id = 0

	where	person_id = @id;

	

GO
/****** Object:  StoredProcedure [dbo].[updVote]    Script Date: 4/30/2025 3:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[updVote]
	@crowdsourced_research_id int,
	@person_id int,
	@vote_type varchar(100)
as 
	if not exists(
		select * 
		from crowdsourced_research_vote
		where crowdsourced_research_id = @crowdsourced_research_id
		and person_id = @person_id
		) 
	begin
		return -1
	end   
	
	update	crowdsourced_research_vote
	set		vote_type = @vote_type,
			updated = getdate()
	where	 crowdsourced_research_id = @crowdsourced_research_id
		and	person_id = @person_id


	return 0;
		
GO
USE [master]
GO
